{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather App</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>


<body>
    <div id="weather-bg" class="weather-container {{ bg_class }}">
        <h1 class="header-title">Current Weather in {{ location }}</h1>
        <div class="weather-details">
            <p class="temp-styling">Temperature: {{ temp }} °F</p>
            <p class="clouds-styling">Clouds: {{ clouds }}</p>
            <p class="humidity-styling">Humidity: {{ humidity }}%</p>
            <p class="wind-styling">Wind Speed: {{ wind }} mph</p>
        </div>
    </div>
</body>
</html>