.header-title {
    text-align: center;
    font-size: 36px;
    font-weight: bold;
    color: #caf0f8;
}
/* body {
    background-color: #4a4e69;
    color: #caf0f8;
} */


.weather-container {
    width: 100%; 
    min-height: 100vh; /* Ensures it covers the full screen */
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: background 1s ease-in-out;
}


.bg-sunny { background: linear-gradient(to bottom, #4facfe 0%, #00f2fe 100%);}
.bg-rainy { background: linear-gradient(to bottom, #667db6 0%, #0082c8 50%, #0082c8 51%, #667db6 100%); }
.bg-cloudy { background: linear-gradient(to bottom, #bdc3c7 0%, #2c3e50 100%); }